{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="header-bg">
    {% include 'partials/_header.html' %}
</div>

<div class="agendamento-bg">
    <section class="agendamento container">
        <div class="agendamento-info">
            <h2 class="titulo2 w">Agendamento</h2>
            <p class="fonte2 w">Marque a sua consulta de forma rápida</p>
        </div>
        <form action="{% url 'agendamento_1' %}" method="POST" class="agendamento-form">
            {% csrf_token %}
            <div class="reagendamento-select-flex">
                {% for field in form.visible_fields %}
                <div>
                    <label for="{{ field.id_for_label }}" class="titulo3 c9">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <button class="botao2">Continuar</button>
        </form>
    </section>
</div>

{% include 'partials/_footer_2.html' %}

{% endblock %}