{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="header-bg">
    {% include 'partials/_header.html' %}
</div>

<div class="agendamento-bg">
    <section class="agendamento container">
        <div class="agendamento-info">
            <h2 class="titulo2 w">Agendamento</h2>
            <p class="fonte2 w">Marque a sua consulta de forma rápida</p>
        </div>
        <div class="agendamento-form">
            <h3 class="titulo3 c9">Sua consulta foi confirmada com sucesso!</h3>
            <p class="fonte3 c6">Importante! Você pode verificar a sua consulta na página do usuário. <br> Lá você consegue reagendar ou cancelar caso necessário!</p>
            <a href="{% url 'pagina_usuario' %}" class="botao2">Página do usuário</a>
        </div>
    </section>
</div>

{% include 'partials/_footer_2.html' %}

{% endblock %}