/* título e bg */
.agendamento-bg {
  background: linear-gradient(var(--c4) 400px, var(--c1) 0px);
}
.agendamento {
  padding-top: 100px;
  padding-bottom: 246px;
}
.agendamento-info .titulo2 {
  margin-bottom: 12px;
}

.agendamento-info p {
  margin-bottom: 80px;
}

/* form */
.agendamento-form {
  background-color: var(--w);
  border-radius: 40px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* inputs */
.agendamento-form select {
  appearance: none;
}

.agendamento-form .select {
  margin-top: 12px;
  display: block;
  width: 200px;
  border: 2px solid var(--c2);
  border-radius: 40px;
  padding: 14px;
  width: 180px;
}

/* botão */
.agendamento-form .botao2 {
  align-self: flex-end;
}
